body {
    background-image: url("../../assets/doodles-background-seamless.jpg");
    background-color: #cccccc;
    background-size: 540px;
    height: 100%;
}

@font-face { font-family: ZukaDoodle1; src: url('../../assets/ZukaDoodle-Kz7y.ttf'); } 
@font-face { font-family: ZukaDoodle2; src: url('../../assets/ZukaDoodle-MnVJ.ttf'); } 


* {
    text-align: center;
    font-family: ZukaDoodle1;
    font-size: 1.05em;
    text-decoration: none;

    border-radius: 10px;
    border-width: 2px;
    border-color:#3498db;
    border-style: none;
}


canvas {
    display: block;
    border-style: solid;
}

#input_fields label {
    display: none;
}

input, button, .button {
    margin: 0.4em;
    padding: 0.4em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

input, .mark_on_hover {
    display: inline-block;
    background-color: white;
    border-style: solid;
    opacity: 1;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}


input:hover, .mark_on_hover:hover {
    background-color: rgb(201, 238, 250);
    font-weight: bold;
    opacity: 1;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

/* For headers */
.header {
    position: relative;
    text-align: center;
    font-family: ZukaDoodle1;
    font-size: 2em;
}

/* align any element in center of screen */
.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_up {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center_down {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right {
    display: inline;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.left {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

/* hide an show elements */
.hidden {
    overflow: hidden;
    opacity: 0;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

.shown {
    opacity: 1;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

.not_displayed {
    display: none!;
}

/* hide element visually, but still accessible in DOM */
.hidden_visually {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Indefinate loading element */
.loader.loaderhidden{
    opacity: 0;
    height: 0;
    width: 0;
    animation: none;
    
    -webkit-transition: 0.2s, width 0.2s;
    -moz-transition: 0.2s, width 0.2s;
    -o-transition: 0.2s, width 0.2s;
    transition:height 0.2s, width 0.2s;
}

/* CSS for a big loader */
.loader {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.loader_large {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;

    -webkit-transition: 0.2s, width 0.2s;
    -moz-transition: 0.2s, width 0.2s;
    -o-transition: 0.2s, width 0.2s;
    transition:height 0.2s, width 0.2s;
}

/* CSS for a small loader */
.loader_small {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;

    -webkit-transition: 0.2s, width 0.2s;
    -moz-transition: 0.2s, width 0.2s;
    -o-transition: 0.2s, width 0.2s;
    transition:height 0.2s, width 0.2s;
}

@keyframes spin {
    0% { transform: rotate(90deg); }
    50% { opacity: 0.4; }
    100% { transform: rotate(450deg); }
}


.container {
    display: inline-block;
    max-width: 90%;
    max-height: 90%;
}

.link_button {
    background-color: white;
    color: #3498db;
    border-color:#3498db;
    border-style: solid;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

.link_button:hover {
    background-color:#3498db;
    color: white;
    border-color: white;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

.link_button.back_button {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border-style: none;
}

.link_button.back_button img {
    width: 100%;
    height: 100%;
    content:url("/assets/back-button-3498db.png");
}

.link_button.back_button:hover img {
    content:url("/assets/back-button-white.png");
}



/* info display */
.info_container {
    position: absolute;
    z-index: 9999;
    width: 150px;
    height: 150px;
    left: 47%;
    top: 40%;
}

.info_container * {
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 0;
}

#info_display * {
    font-weight: bold;
    font-size: 1em;
}

#info_display p.red {
    color: darkred;
    background-color: white;
    border: 2px #3498db solid;
    padding: 2%;
}

#info_display p.green {
    color: green;
    background-color: white;
    border: 2px #3498db solid;
    padding: 2%;
}